.myPhoto {
  img {
    max-height: 55vh;
    width: auto;
    position: absolute;
    margin-left: 66vw;
    transform: translateY(13vh);
    border: yellow;
    border-width: 1px;
    border-style: solid;
  }
}